<div id="exchangeModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Choose Exchange</h4>
      </div>
      <div class="modal-body text-center">
        <p>Which exchange would you like to use?</p>
        <button data-behavior="select-btce" data-attribute="btce" class="btn btn-main btn-lg btn-success">BTC-e</button>
        <button data-behavior="select-bitstamp" data-attribute="bitstamp" class="btn btn-main btn-lg btn-success">Bitstamp</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>